@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,400&display=swap');
body
{
    margin: 0;
    background-color: #222831;
}
h1
{
    font-family: 'Roboto',sans-serif;
    color: #00ADB5;
}
p
{
    font-family: 'Roboto',sans-serif;
    color: #EEEEEE;
}